################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/BaseProject/Debug
/BaseProject/x64/Debug
/x64/Debug
/Log.txt
